################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/CoreWebApp/bin
/CoreWebApp/obj
/CoreWebApp/obj/Debug
/CoreWebApp/obj/Debug/netcoreapp1.1
/CoreWebApp/Properties